*.sw[po]
*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.vagrant
secrets.sls*
*.log*
_build
*.swp
.ipynb_checkpoints
*.tar
*.priv
.env
*.cert*
*.key*
downloaded-data/*
cleaned/*
env/*
